/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
	display: grid;
	grid-template-areas:
		"header"
		"hero"
		"who"
		"meet"
		"talk"
		"footer"
}

.header {
	grid-area: header;
}

.hero {
	grid-area: hero;

	@include md {
		display: grid;

		img {
			padding-bottom: 30px;
			display: block;
            margin-left: auto;
            margin-right: auto;
		}
		.hero-text {
			text-align: center;
			padding-bottom: 200px;
		}
	}
}

.who {
	grid-area: who;

	@include md {
		img {
			padding-top: 200px;
			padding-bottom: 30px;
			display: block;
            margin-left: auto;
            margin-right: auto;
		}

		h1 {
			text-align: center;
		}

		p {
			text-align: center;
		}
	}
}

.meet {
	grid-area: meet;
	display: grid;

	@include md {
		h1 {
			text-align: center;
			padding-bottom: 20px;
			padding-top: 200px;
		}
		.gallery {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: repeat(2, 1fr);

			.meet1 {
				grid-column: 2 / 3;
				grid-row: 1 / 2;
				padding-bottom: 20px;
			}

			.meet2 {
				grid-column: 4 / 5;
				grid-row: 1 / 2;
			}

			.meet3 {
				grid-column: 6 / 7;
				grid-row: 1 / 2;
			}

			.meet4 {
				grid-column: 2 / 3;
				grid-row: 2 / 3;
			}

			.meet5 {
				grid-column: 4 / 5;
				grid-row: 2 / 3;
			}

			.meet6 {
				grid-column: 6 / 7;
				grid-row: 2 / 3;
			}
		}
	}
}

.talk {
	grid-area: talk;

	@include md {
		display: grid;

		h2 {
			text-align: center;
			padding-top: 200px;
			padding-bottom: 10px;
		}

		p {
			text-align: center;
			padding-bottom: 200px;
		}
	}
}

.footer {
	grid-area: footer;

	@include md {

		.footergrid {
			display: grid;
			grid-template-columns: repeat(9, 1fr);
			padding-bottom: 50px;
			padding-top: 50px;

			.footergrid {
				grid-column: 2 / 3;
			}

			address {
				grid-column: 4 / 5;
			}

			p {
				grid-column: 6 / 7;
			}

			.fbicon {
				grid-column: 9 / 10;
			}
		}
	}
}